.household-viewer {
    display: flex;
    flex-direction: row;
}

/*********************************************************************************************************************/
/*                                              Households List                                                      */
/*********************************************************************************************************************/

.house-list {
    display: flex;
    flex-direction: column;
    flex-basis: 33%;
    margin-top: 10em;
}

.house-button {
    display: block;
    width: 18em;
    height: 5em;
    float: left;
    background-color: transparent;
    border: solid 1px lightgrey;
    border-radius: 0 4em 4em 0;
    outline: none;
}
.house-button:hover {
    /*background-color: lightgrey;*/
}

.house-button-selected {
    background-color: lightgrey;
}

/*********************************************************************************************************************/
/*                                              Households Details                                                   */
/*********************************************************************************************************************/

.house-details {
    flex-basis: 67%;
}

.house-details-linebreak {
    width: 99%;
    right: 0;
    border: solid 1px lightgrey;
}

#house-details-title {
    font-size: 36pt;
    height: 1.2em;
    margin-left: .3em;
    margin-top: .3em;
}

#house-details-members-title {
    font-size: 36pt;
    display: block;
    margin-left: 1em;
    margin-top: .6em;
}

#house-details-members-list {
    display: flex;
    flex-direction: row;
}

.house-details-member {
    width: max-content;
    text-align: center;
    display: inline-block;
    margin-left: 3em;
}

.member-circle {
    width: 2em;
    height: 2em;
    border: solid 2px lightgrey !important;
    border-radius: 50% !important;
}

.member-circle-name {
    height: 1.2em;
    top: .3em;
}

.house-details-nav-away {
    font-size: 36pt;
    display: flex;
    flex-direction: row;
    height: 1.1em;
    margin-top: .45em;
    margin-bottom: .45em;
}

.house-details-nav-title {
    margin-top: 0;
    margin-left: 1em;
    flex-basis: 80%;
}

.house-details-nav-button {
    border: none;
    background-color: transparent;
    text-align: center;
    height: 1em;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: .1em;
    outline: none;
}

.house-details-nav-button:hover {
    background-color: lightgrey;
}

/*********************************************************************************************************************/
/*                                                Add Households                                                     */
/*********************************************************************************************************************/

#add-house {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.add-filler {
    flex-basis: 33%;
}

#new-member-circle {
    vertical-align: center;
}

#new-member-circle:hover {
    background-color: lightgrey;
}

#add-house-title-form {
    font-size: 36pt;
    height: 1.2em;
    line-height: 1.6;
    padding-top: .2em;
    margin-left: .3em;
    margin-top: .3em;
    border-radius: .1em;
    border: solid 1px lightgrey;
}

#add-house-title-form:focus {
    outline: none;
}

.nm-circle-selected {
    background-color: lightgrey;
}

.nm-circle-plus {
    height: 100%;
    width: 32%;
}

.nm-form {
    font-size: 14pt;
    height: 1.4em;
    width: 5.14em;
    line-height: 1.6;
    padding-top: .2em;
    margin-top: .2em;
    outline: none;
}

#nm-submit {
    font-size: 14pt;
    display: inline;
    position: relative;
    height: 1.4em;
    width: 2.5em;
    top: -.05em;
    background-color: transparent;
    border: solid .5px grey;
    outline: none;
}

#nm-submit:hover {
    background-color: lightgrey;
}

#add-house-submit {
    position: absolute;
    float: right;
    height: 4em;
    width: 12em;
    right: 3em;
    bottom: 4em;
    background-color: transparent;
    border: solid 1px lightgrey;
    border-radius: 1em;
}

#add-house-submit:hover {
    background-color: lightgrey;
}

.back-arrow {
    position: absolute;
    width: 5em;
    border: none;
    border-radius: .5em;
    outline: none;
    background-color: transparent;
    margin-top: 1em;
    margin-left: 1em;
}

.back-arrow:hover {
    background-color: lightgrey;
}

/*********************************************************************************************************************/
/*                                                Add Chores                                                         */
/*********************************************************************************************************************/

#schedule-add {
    display: flex;
    flex-direction: row;
}

#add-chore-title-form {
    font-size: 36pt;
    height: 1.2em;
    line-height: 1.6;
    padding-top: .2em;
    margin-left: .3em;
    margin-top: .3em;
    border-radius: .1em;
    border: solid 1px lightgrey;
}

#add-chore-supplies-form {
    font-size: 12pt;
    height: 7.2em;
    width: 56em;
    padding-top: .6em;
    margin-left: .9em;
    margin-top: .9em;
    border-radius: .3em;
    border: solid 1px lightgrey;
    outline: none;
}

#add-chore-save {
    position: relative;
    float: right;
    height: 4em;
    width: 12em;
    right: 3em;
    bottom: -1em;
    background-color: transparent;
    border: solid 1px lightgrey;
    border-radius: 1em;
    outline: none;
}

#add-chore-delete {
    position: relative;
    float: left;
    height: 4em;
    width: 12em;
    right: 3em;
    bottom: -1em;
    background-color: transparent;
    border: solid 1px lightgrey;
    border-radius: 1em;
    outline: none;
}

#add-chore-save:hover {
    background-color: lightgrey;
}

#add-chore-delete:hover {
    background-color: lightgrey;
}

/*********************************************************************************************************************/
/*                                                Edit Schedule                                                      */
/*********************************************************************************************************************/

#schedule-start-forms {
    display: flex;
    flex-direction: row;
}

.schedule-start-form {
    font-size: 24pt;
    width: 2em;
    margin-top: .5em;
    margin-bottom: 1em;
    border: solid 1px lightgrey;
    border-radius: .2em;
    outline: none;
}

.schedule-start-slash {
    font-size: 24pt;
    margin: .5em .5em 1em .5em;
    color: lightgrey;
}

.schedule-length-form {
    font-size: 24pt;
    width: 4em;
    margin-top: .5em;
    border: solid 1px lightgrey;
    border-radius: .2em;
    outline: none;
}

::placeholder {
    color: lightgrey;
    opacity: .85;
}

:-ms-input-placeholder {
    color: lightgrey;
    opacity: .85;
}

::-ms-input-placeholder {
    color: lightgrey;
    opacity: .85;
}

