@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Shadows+Into+Light&display=swap');
@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

h1 {
  font-family: 'Shadows Into Light', cursive;
  font-size: 40pt;
  margin: 0;
  padding-left: 2%;
}

body:not(#heading) {
  font-family: 'Josefin Sans', sans-serif;
}

ul {
  list-style-type: none;
}

#nav-bar {
  padding: 0;
  display: flex;
  justify-content: space-around;
  font-size: 16pt;
  margin-bottom: 0;
}

.nav-selected {
  background-color: rgba(24, 149, 116, 0.5);
}

#nav-bar > li {
  line-height: 40px;
  text-align: center;
  height: 40px;
  width: 100%;
}

#nav-bar > li:not(.nav-selected) {
  background-color: rgba(24, 149, 116, 1);
}